<div class="row">
    <div class="twelve panel columns centered">
        <h3>Pages#history (should be ADMIN only!)</h3>
        <p>
            <b>
                <%= link_to "Go back to home page", root_path %>
            </b>
        </p>
        <table>
            <thead>
                <tr>
                    <th>Status</th>
                    <th>Input</th>
                    <th>Output</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
            <% @citation_histories.each do |ch| %>
             <tr>
                <td>
                    <%= ch.correct ? "<span class='round success label'>Correct</span>".html_safe : "<span class='round alert label'>Incorrect</span>".html_safe %>
                </td>
                <td>
                    <%= simple_format(ch.input) %>
                </td>
                <td>
                    <%= simple_format(ch.output) %>
                </td>
                <td><%= time_ago_in_words(ch.created_at) %> ago, <%= ch.created_at.strftime("%l:%M:%S %P, %b %e %Y") %>
                </td>
              </tr>
            <% end %>
            </tbody>
        </table>
    </div>
</div>