<style>
	span.label {
		cursor:pointer;
	}
	span.label.disabled{
		background-color: #ccc;
	}
	span.label a {
		color:white;
	}
</style>

<div class="row">
	<div class="nine panel columns centered">
		<h3>Pages#process_input</h3>
		<p>
			<b><%= link_to "Start over", root_path %></b>
			<br />
			<b>This citation is:</b>
			<span class="round success label" id="correct-citation"><%= link_to "Correct", "/mark?id=#{@history.id}&v=true", :remote => true %></span>
			<span class="round alert label" id="incorrect-citation"><%= link_to "Incorrect", "/mark?id=#{@history.id}&v=false", :remote => true %></span>
			<script>
				$('#correct-citation').click(function(){
					$('#incorrect-citation').addClass("disabled");
					$('#correct-citation').removeClass("disabled");
				});
				$('#incorrect-citation').click(function(){
					$('#correct-citation').addClass("disabled");
					$('#incorrect-citation').removeClass("disabled");
				});
			</script>
		</p>
		<table>
			<tr style="background:#D5E9FC;">
				<td>
					Output
				</td>
				<td style="font-size:18px;line-height:1.0;" id="output">
					<%=h @output %>
				</td>
			</tr>
			<tr>
				<td>
					Input stats
				</td>
				<td>
					<p>
						<%= pluralize(@input.lines.count, "line") rescue "Error occurred!" %>
						<br />
						<b>Reporter number:</b> <%= @reporter_number %>
						<br />
						<b>Petitioner:</b> <%= @petitioner %>
						<br />
						<b>Respondent:</b> <%= @respondent %>
						<br />
						<b>Decision year:</b> <%= @decision_year %>
						<br />
					</p>
				</td>
			</tr>
			<tr>
				<td>
					Input text
				</td>
				<td id="input">
					<%= simple_format(@input) %>
				</td>
			</tr>
		</table>
	</div>
</div>