<div class="row">
	<div class="nine panel columns centered">
		<h3>Pages#process_input</h3>
		<p>
			<b>
				<%= link_to "Start over", root_path %>
			</b>
		</p>
		<table>
			<tr>
				<td>
					Output
				</td>
				<td>
					<%= @output %>
				</td>
			</tr>
			<tr>
				<td>
					Input stats
				</td>
				<td>
					<p>
						<%= pluralize(@input.lines.count, "line") rescue "Error occurred!" %>
						<br />
						<b>Reporter number:</b> <%= @reporter_number %>
						<br />
						<b>Petitioner:</b> <%= @petitioner %>
						<br />
						<b>Respondent:</b> <%= @respondent %>
						<br />
						<b>Decision year:</b> <%= @decision_year %>
						<br />
					</p>
				</td>
			</tr>
			<tr>
				<td>
					Input text
				</td>
				<td>
					<%= simple_format(@input) %>
				</td>
			</tr>
		</table>
	</div>
</div>